@model IEnumerable<Lady_Lollipop.Models.Drink>

@{
    ViewData["Title"] = "List of Drinks";

    Pagination pagination = new Pagination();
    int pageNo = 0;
    if (ViewBag.Pagination != null)
    {
        pagination = ViewBag.Pagination;
        pageNo = pagination.CurrentPage;
    }


}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p style="text-align:center;">
        <a class="create-button" asp-action="Create">Add <i style="position:relative;top:1px;" class="bi bi-plus-circle-dotted"></i></a>
    </p>
}
<head>
    <link rel="stylesheet" href="~/css/drinks.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>


<div>
    <h1 class="title"> Drinks</h1>
    <ul class="row-div">
        @foreach (var item in Model)
        {
            <li class="main-inside-div">
                <div>
                    <a asp-controller="Drinks" asp-action="Details" asp-route-id="@item.Id"><img class="img-drink" src="@item.Picture" /></a>
                </div>
                <div>
                    <p class="name-p"><a asp-controller="Drinks" class="name-p" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></p>
                    <p class="price-p" step="0.01">$@item.Price</p>
                    <p class="stock-p">@item.Stock in stock</p>
                </div>
                @if (item.Stock >= 1 && User.Identity.IsAuthenticated)
                {

                    <a class="cart-button-enabled" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Id"><p>Add To Cart</p></a>


                }
                else
                {
                    <div>
                        <button disabled class="cart-button">Add To Cart</button>
                    </div>

                }
                <div class="index-button-div">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="edit-delete-drinks" asp-controller="Drinks" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill text-light edit-pencil"></i></a>
                        <a class="edit-delete-drinks" asp-controller="Drinks" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash text-light delete-can"></i></a>
                    }
                </div>
            </li>
        }
    </ul>
</div>
<partial name="_Pagination" model="@pagination" />
